<div class="container">
	<div class="row">
		<div class="col-lg-3">
			<ul class="nav nav-pills nav-stacked">
				<% @categories.each do |category| %>
					<li class="active"><a href=""><%= category.name %></a></li>
				<% end %>
			</ul>
		</div>
		<div class="col-lg-9">
			<% @courses.each do |course| %>
				<div class="row course-card">
					<div class="col-lg-12">
						<p><%= course.course_id %></p>
						<h3><%= course.course_name %></h3>
						<p><%= course.course_description %></p>
						<div class="button-container">
							<%= link_to "View Details", 'details', :class => 'btn btn-primary btn-sm' %>
							<%= link_to "Book this class", 'book', :class => 'btn btn-success btn-sm' %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>
