<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Login - Course Management Systems</title>
	<%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body style="background-color:#337ab7;">
<div class="navbar navbar-light navbar-static-top">
	<div class="navbar-header">
		
	</div>
</div>
<div class="container">
	<div class="row" style="margin-top:50px;">
		<div class="col-lg-5" style="margin:0 auto; float:none;">
			<div class="well">
				<h3>Instruction</h3>
				<p style="font-size:0.8em;">1. Please visit github page to see the code via this
					<a href="https://github.com/chatthana/course_mgt">link</a>
					(p.s. Do not touch other projects. They are personal)
				</p>
				<p style="font-size:0.8em;">2. No datepicker, timepicker, or any fancy widgets for course search but I have already provided the format</p>
				<p style="font-size:0.8em;">3. All types of comments are welcomed</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-5 login-box">
			<h3>Signin</h3>
			<% flash.each do |k,v| %>
				<div class="alert alert-<%= k %>"><p><%= v %></p></div>
			<% end %>
				<%= form_for :session, url: {action: 'authenticate'} do |f| %>
					<div class="form-group">
						<%= f.text_field 'email', {class: 'form-control', placeholder: 'Email'} %>
					</div>
					<div class="form-group">
						<%= f.password_field 'password', {class: 'form-control', placeholder: 'Password'} %>
					</div>
					<%= f.submit 'Login', {class: 'btn btn-primary btn-block'} %>
				<% end %>
		</div>
	</div>
</div>
</body>
</html>